$blue-dark: #002F5F;
$blue-medium: #0079c8;
$blue-primary: #00a2e8;
$blue-lighter: #CAF2FE;
$gray: #8F8F8F;
$gray-dark: #313131;
$gray-medium: #5D5D5D;
$gray-primary: #8C8A87;
$gray-lighter: #BABABA;
$white: #fff;